body{
    padding: 0;
    margin: 0;

    color: #6f3514;
}

.horz_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.vert_flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.float{
    background-color: rgba(255, 255, 201, .98);

    border-style: solid;
    border-width: 2px;
    border-color: #421e0e;
    border-radius: 15px;

    padding: 2px;
    margin: 0;

    overflow-x: auto;

    z-index: 2;
}
.float_arrow{
    position: absolute;
    width: 150%;

    top: calc(50% - 15px);
    height: 30px;

    z-index: 1;
}
.float_arrow.right{
    left: 5%;
}
.float_arrow.left{
    left: -30%;
}

.creature{
    width: 90%;
    padding: 1.5vw;

    margin: 1.5vw auto;

    background-image: url("../images/wooden_board.png");
    background-size: cover;

    border: 1.5vw solid #56160f;
    border-image: url("../images/wooden_frame.png") 9% repeat;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    text-align: center;
    color: #580701;
}
.creature > *{
    flex: 0 0;
    margin: auto 0.8vw;
}
.creature > div > *{
    margin: 0.4vw;
}

.avatar{
    min-height: 60px;
    min-width: 60px;
    max-width: 10vw;
    height: auto;
    flex-basis: 10vw;
}

.creature_name{
    margin-top: -0.1vw;
    font-size: calc(50% + 1.2vw);
    margin-right: 0.55vw;
}

.hp_bar{

}

.bar_back{
    background-color: #C5C6C7;
    border-color: #cbad0b;
    border-radius: .5vw;
    border-width: 1px;
    border-style: solid;

    padding: 0;
    height: 2vw;
    width: 12vw;
    min-width: 100px;

    overflow: hidden;
}
.bar_front{
    margin: 0 !important;
    padding: 0;

    position: relative;
    top: 0;
    left: 0;
    height: 100%;

    transition: width 250ms ease, opacity 300ms ease;
}

.icon{
    min-width: 40px;
    min-height: 40px;
    width: 7vw;
    height: 7vw;

    position: relative;

    background-color: rgba(31, 40, 51, 0);
}
.icon:hover{
    z-index: 500;
}
.icon.small1{
    min-width: 20px;
    min-height: 20px;
    width: 4vw;
    height: 4vw;
}
.icon.small2{
    min-width: 17px;
    min-height: 17px;
    width: 3vw;
    height: 3vw;
}
.icon.small3{
    min-width: 14px;
    min-height: 14px;
    width: 2vw;
    height: 2vw;
}
.icon > img{
    width: 100%;
    height: auto;
}
.icon > .text{
    width: 100%;
    text-align: center;
    margin: 0;
    color: black;

    font-size: 1.3vw;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.icon.small3 > .text{
    font-size: 0.8vw;
}

.attribute{
    font-size: 110%;
}
.attribute b{
    font-size: 110%;
}

.resource_parent_div{
    position: relative;
}

.resource_icon{
    background-image: url("../images/button_background.png");
    background-size: cover;

    border-radius: 10000px;

    transition: box-shadow 180ms ease-out, transform 250ms ease;
}
.resource_icon.out {
    background-image: url("../images/button_background_grey.png");
}
.resource_icon > img{
    width: 65%;

    transform: none;

    position: relative;
    left: 0;
    top: 10%;
}
.resource_icon:hover{
    box-shadow: 0 1px 0.5em black;
}
.resource_icon:active > img{
    transform: translateY(10%);
}
.resource_icon:active{
    transform: translateY(10px) translateX(-2px) scale(.97);
    box-shadow: 0 1px 0 black;
    background-image: url("../images/button_background_down.png");
}
.resource_icon.out:active{
    background-image: url("../images/button_background_down_grey.png");
}

.centered_text_parent{
    position: relative;
}
.centered_text{
    text-align: center;
    width: 100%;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 100%;
    font-weight: bold;
    color: black;
}

.initiative_count_wrapper{
    position: relative;

    display: contents;
}
.initiative_count_wrapper > div{
    position: absolute;

    margin: -2.2vw 0 0 -2.2vw;
}

#main_container{
    background-image: url("../images/background4.jpg");
    background-repeat: repeat;
    width: 100vw;
    min-height: 100vh;
}

#column{
    margin: auto;
    min-height: 1.3px;
    width: 84%;
    /*background-color: #6b2500;*/
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#column > *{
    margin: 6px auto;
}

#logo{
    max-width: 20%;
    max-height: 16%;
    width: auto;
    height: auto;
}

#encounter_box{
    width: 90%;
    min-height: 10vh;
    padding: 2vw;

    background:
            repeating-linear-gradient(to top, rgba(238,196,135,.5) 0px,rgba(243,207,154,.5) 3.5px,rgba(248,216,162,.5) 6.5px,rgba(243,207,154,.5) 6.3px,rgba(243,207,154,.5) 9.3px,rgba(241,202,136,.5) 12px,rgba(243,207,154,.5) 15.3px,rgba(244,208,158,.5) 17.3px,rgba(243,207,154,.5) 19px,rgba(243,207,154,.5) 21px,rgba(250,221,176,.5) 23.3px,rgba(250,221,176,.5) 25.3px,rgba(243,207,154,.5) 27px,rgba(238,200,138,.5) 29.3px,rgba(243,207,154,.5) 29.3px,rgba(243,207,154,.5) 32.3px,rgba(243,207,154,.5) 34px,rgba(243,207,154,.5) 37.3px,rgba(250,221,176,.5) 40px,rgba(250,221,176,.5) 43px,rgba(243,207,154,.5) 43.3px,rgba(243,207,154,.5) 44.3px,rgba(243,207,154,.5) 47.3px,rgba(238,200,138,.5) 49px,rgba(243,207,154,.5) 52.3px,rgba(250,221,176,.5) 54px,rgba(244,208,158,.5) 56px,rgba(243,207,154,.5) 59.3px,rgba(244,208,158,.5) 61px,rgba(250,221,176,.5) 64.3px,rgba(243,207,154,.5) 64.3px,rgba(244,208,158,.5) 66.3px,rgba(243,207,154,.5) 69.3px,rgba(248,216,162,.5) 71px,rgba(243,207,154,.5) 74.3px,rgba(243,207,154,.5) 76px,rgba(243,207,154,.5) 77px,rgba(243,207,154,.5) 80.3px,rgba(250,221,176,.5) 81.3px,rgba(243,207,154,.5) 83px,rgba(250,221,176,.5) 83.3px,rgba(250,221,176,.5) 85.3px,rgba(243,207,154,.5) 87.3px,rgba(250,221,176,.5) 89px,rgba(250,221,176,.5) 91px,rgba(243,207,154,.5) 92.3px,rgba(248,216,162,.5) 96px,rgba(243,207,154,.5) 97.3px,rgba(243,207,154,.5) 97px,rgba(243,207,154,.5) 98.3px,rgba(243,207,154,.5) 100px, rgba(238,196,135,.5) 101px)
            ,repeating-linear-gradient(to bottom, rgba(238,196,135,.3) 0.3px,rgba(243,207,154,.3) 3px,rgba(248,216,162,.3) 6px,rgba(243,207,154,.3) 6px,rgba(243,207,154,.3) 9px,rgba(241,202,136,.3) 12px,rgba(243,207,154,.3) 15px,rgba(244,208,158,.3) 17px,rgba(243,207,154,.3) 19px,rgba(243,207,154,.3) 21px,rgba(250,221,176,.3) 23px,rgba(250,221,176,.3) 25px,rgba(243,207,154,.3) 27px,rgba(238,200,138,.3) 29px,rgba(243,207,154,.3) 29px,rgba(243,207,154,.3) 32px,rgba(243,207,154,.3) 34px,rgba(243,207,154,.3) 37px,rgba(250,221,176,.3) 40px,rgba(250,221,176,.3) 43px,rgba(243,207,154,.3) 43px,rgba(243,207,154,.3) 44px,rgba(243,207,154,.3) 47px,rgba(238,200,138,.3) 49px,rgba(243,207,154,.3) 52px,rgba(250,221,176,.3) 54px,rgba(244,208,158,.3) 56px,rgba(243,207,154,.3) 59px,rgba(244,208,158,.3) 61px,rgba(250,221,176,.3) 64px,rgba(243,207,154,.3) 64px,rgba(244,208,158,.3) 66px,rgba(243,207,154,.3) 69px,rgba(248,216,162,.3) 71px,rgba(243,207,154,.3) 74px,rgba(243,207,154,.3) 76px,rgba(243,207,154,.3) 77px,rgba(243,207,154,.3) 80px,rgba(250,221,176,.3) 81px,rgba(243,207,154,.3) 83px,rgba(250,221,176,.3) 83px,rgba(250,221,176,.3) 85px,rgba(243,207,154,.3) 87px,rgba(250,221,176,.3) 89px,rgba(250,221,176,.3) 91px,rgba(243,207,154,.3) 92px,rgba(248,216,162,.3) 96px,rgba(243,207,154,.3) 97px,rgba(243,207,154,.3) 97px,rgba(243,207,154,.3) 98px,rgba(243,207,154,.3) 100px, rgba(238,196,135,.3) 102px)
            ,repeating-linear-gradient(to top, rgba(238,196,135,.3) 0px,rgba(243,207,154,.3) 3px,rgba(238,200,138,.3) 49px,rgba(243,207,154,.3) 52px,rgba(250,221,176,.3) 54px,rgba(244,208,158,.3) 56px,rgba(243,207,154,.2) 59px,rgba(244,208,158,.3) 61px,rgba(250,221,176,.3) 64px,rgba(243,207,154,.3) 64px,rgba(244,208,158,.3) 66px,rgba(243,207,154,.3) 69px,rgba(248,216,162,.3) 71px,rgba(243,207,154,.3) 74px,rgba(243,207,154,.3) 76px,rgba(243,207,154,.3) 77px,rgba(243,207,154,.3) 80px,rgba(250,221,176,.3) 81px,rgba(243,207,154,.3) 83px,rgba(250,221,176,.3) 83px,rgba(250,221,176,.3) 85px,rgba(243,207,154,.3) 87px,rgba(250,221,176,.3) 89px,rgba(250,221,176,.3) 91px,rgba(243,207,154,.3) 92px,rgba(248,216,162,.3) 96px,rgba(243,207,154,.3) 97px,rgba(243,207,154,.3) 97px,rgba(243,207,154,.3) 98px,rgba(243,207,154,.3) 100px, rgba(238,196,135,.3) 103px)
            ;
    background-color: rgba(66, 30, 14, 0.85);

    border: calc(1.6vw + 8px) solid #56160f;
    /*border-image: url("../images/wooden_frame.png") 9% repeat;*/
    border-image: url("../images/wooden_frame2.png") 8.4% stretch;

    box-shadow: inset 0 0 15px 4px black;
}